<footer class="main-footer">
  <ul class="footer-info">
    <li>
      <img class="phone" src="../../assets/img/phone-footer.png" />
      <a href="tel:1-713-907-0239">(713) 907-0239</a>
    </li>
    <li>
      <img class="phone" src="../../assets/img/location-footer.png" />
      <a href="http://maps.google.com/maps?q=5210+Quail+West,+Alvin,+TX+77511">
        5210 Quail West, Alvin, TX 77511</a>
    </li>
    <li>
      <img class="phone" src="../../assets/img/mail-footer.png" />
      <a href="mailto:top.mulch11@gmail.com"> top.mulch11@gmail.com</a>
    </li>
  </ul>
  <div class="footer-nav">
    <ul>
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="products.html">Products</a>
      </li>
      <li>
        <a href="price.html">Price</a>
      </li>
      <li>
        <a href="contact.php">Contact</a>
      </li>
    </ul>
    <p class="copy-r">2016 Top Mulch Garden Center</p>
  </div>
</footer>