<div class="container clearfix">
  <h1>2017 Price List</h1>
  <table class="price-table">
    <tr style="background-color:#BB1111">
      <th class="table-col1">Material</th>
      <th class="table-col2">
        Yard
        <br />(plus tax)</th>
    </tr>
    <tr>
      <td class="table-col1">Regular Native Mulch</td>
      <td class="table-col2">
        $23</td>
    </tr>
    <tr>
      <td class="table-col1">Brown Mulch</td>
      <td class="table-col2">
        $25</td>
    </tr>
    <tr>
      <td class="table-col1">Black Mulch</td>
      <td class="table-col2">
        $25</td>
    </tr>
    <tr>
      <td class="table-col1">Red Mulch</td>
      <td class="table-col2">
        $25</td>
    </tr>
    <tr>
      <td class="table-col1">Pine Bark Mulch</td>
      <td class="table-col2">
        $32</td>
    </tr>
    <tr>
      <td class="table-col1">Top Mix Soil</td>
      <td class="table-col2">
        $26</td>
    </tr>
    <tr>
      <td class="table-col1">Bank Sand</td>
      <td class="table-col2">
        $20</td>
    </tr>
    <tr>
      <td class="table-col1">River Gravel(1/2" - 1")</td>
      <td class="table-col2">
        $65</td>
    </tr>
    <tr>
      <td class="table-col1">Crushed Concrete</td>
      <td class="table-col2">
        $40</td>
    </tr>
  </table>

  <p style="font-size: .79em">
    Additional material is available at special request. i.e. Kiddy Mulch, Pine Mulch, etc.
    <br/> Discounts available for bulk sales.
    <br/> Call or email for pricing.
    <br/>
  </p>
</div>