<div class="info-banner">
  <ul class="info">
    <li><a href="tel:1-713-907-0239"><img class="phone" src="../../assets/img/phone.png" /> <span class="info-span">(713) 907-0239</span></a></li>
    <li><a href="http://maps.google.com/maps?q=5210+Quail+West,+Alvin,+TX+77511"><img class="phone" src="../../assets/img/location.png" />
      <span  class="info-span">5210 Quail West, Alvin, TX 77511</span></a></li>
    <li><a href="mailto:top.mulch11@gmail.com"><img class="phone" src="../../assets/img/mail.png" /><span style="padding-left: 5px;" class="info-span">top.mulch11@gmail.com</span></a></li>
  </ul>
</div>
<header class="clearfix">
  <a href="index.html" class="logo"><img src="../../assets/img/tmlogo.png" alt="Top Mulch Logo" /></a>
  <nav>
    <ul>
      <li><a routerLink="">HOME</a></li><li>
      <a routerLink="/products">PRODUCTS</a></li><li>
      <a routerLink="/price">PRICE</a></li><li>
      <a routerLink="/contact">CONTACT</a></li>
      </ul>
    </nav>
</header>
<div class="img-header">
  <img class="back-img" src="../../assets/img/flower_5.jpg" alt="Top Mulch header image" />
  <h2>Mulch, Soil and Sand <br />Competitive pricing<br />Delivery available</h2>
</div>
