<div class="container clearfix">
  <h1>Products</h1>
  <div class="gallery clearfix">
    <div class="product-wrapper">
      <img src="../../assets/img/nativemulch.jpg" alt="Regular Native Mulch" />
      <h2 class="product">Regular Native Mulch</h2>
    </div>
    <div class="product-wrapper">
      <img src="../../assets/img/brownmulch.jpg" alt="Brown Mulch" />
      <h2 class="product">Brown Mulch</h2>
    </div>
    <div class="product-wrapper">
      <img src="../../assets/img/blackmulch.jpg" alt="Black Mulch" />
      <h2 class="product">Black Mulch</h2>
    </div>
    <div class="product-wrapper">
      <img src="../../assets/img/redmulch.jpg" alt="Red Mulch" />
      <h2 class="product">Red Mulch</h2>
    </div>
    <div class="product-wrapper">
      <img src="../../assets/img/pinemulch.jpg" alt="Pine Bark Mulch" />
      <h2 class="product">Pine Bark Mulch</h2>
    </div>
    <div class="product-wrapper">
      <img src="../../assets/img/topsoil.jpg" alt="Top Mix Soil" />
      <h2 class="product">Top Mix Soil</h2>
    </div>
    <div class="product-wrapper">
      <img src="../../assets/img/sand.jpg" alt="Bank Sand" />
      <h2 class="product">Bank Sand</h2>
    </div>
    <div class="product-wrapper">
      <img src="../../assets/img/gravel.jpg" alt="River Gravel" />
      <h2 class="product">River Gravel</h2>
    </div>
    <div class="product-wrapper">
      <img src="../../assets/img/concrete.jpg" alt="Crushed Concrete" />
      <h2 class="product">Crushed Concrete</h2>
    </div>
  </div>

</div>