<div class="container clearfix">
  <h1>About us</h1>
  <div class="col1">
    <p>Serving all mulch, soil, and sand needs for the Southeast Houston area, Top Mulch Garden Center is a Texas family owned
      company that is dedicated to excellence.</p>
    <p>Our mission is simply to provide quick and affordable service to our customer.</p>
    <p>Located in Alvin Texas, Top Mulch Garden Center serves all neighboring cities including Clear Lake, Friendswood, Pearland,
      League City, Manvel, Liverpool, Angleton, and many more.</p>

    <p>Same day delivery is available for many neighboring areas, and can be provided free of charge for orders greater than
      six (6) yards.</p>

    <p>Give us a call or send us an email for free estimates.</p>
  </div>
  <div class="col2">
    <p>Hours:</p>
    <p>Mon-Fri: 7:00 am to 7:00 pm</p>
    <p>Sat: 7:00 am to 5:00 pm</p>
    <img class="imgtruck" src="../../assets/img/whitetruck.jpg" alt="Top Mulch Truck" />
  </div>
</div>
